body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #68b0ab;
  padding: 10px;
}

header nav #logo img {
  height: 50px;
  padding-left: 50px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 50px;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #1e1e1e;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #fff;
}

footer {
  text-align: center;
  background-color: #1e1e1e;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer #social-icons img {
  height: 30px; /* Adjust as necessary */
  margin: 0 5px;
}

footer p {
  color: #fff;
  margin-top: 10px;
}

footer #social-icons i {
  color: #fff; /* This sets the color to white */
}